
<nav class="navbar navbar-default navbar-fixed-top">
    <p class="navbar-text pull-left">
        <a href="#!/user/{{model.userId}}/website" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left backSign"></span>
        </a>
    </p>

    <p class="white">Pages</p>

    <p class="navbar-text pull-right">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
            <span class="glyphicon glyphicon-plus pageList-plusSign"></span>
        </a>
    </p>
</nav>

<div class="container-fluid">
    <li ng-repeat="page in model.pages" class="list-group-item fixed-left">
        <div class="row">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                {{page.name}}
            </a>
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </div>
    </li>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <p class="navbar-text pull-right">
        <a href="#!/user/{{model.userId}}" class="navbar-link">
            <span class="glyphicon glyphicon-plus glyphicon-user head"></span>
        </a>
    </p>
</nav>











