<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/styles.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-11 col-xs-10">
                <a class="navbar-brand" href="../website/website-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span>Pages</span>
                </a>
            </div>
            <div class="col-sm-1 nav-bar-plus">
                <a href="page-new.view.client.html">
                    <span class="glyphicon glyphicon-plus pull-right span-plus" aria-hidden="true"></span>

                </a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a class="no-text-underline" href="../widget/widget-list.view.client.html">
                        Blog Post
                    </a>
                </div>
                <div class="col-lg-3 visible-lg">

                </div>
                <div class="col-md-3 hidden-sm  hidden-xs">

                </div>
                <div class="col-sm-1">
                    <a href="page-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="../widget/widget-list.view.client.html">
                        Blogs
                    </a>
                </div>
                <div class="col-lg-3 visible-lg">

                </div>
                <div class="col-md-3 hidden-sm  hidden-xs">

                </div>
                <div class="col-sm-1">
                    <a href="page-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="../widget/widget-list.view.client.html">
                        Home
                    </a>
                </div>
                <div class="col-lg-3 visible-lg">

                </div>
                <div class="col-md-3 hidden-sm  hidden-xs">

                </div>
                <div class="col-sm-1">
                    <a href="page-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="../widget/widget-list.view.client.html">
                        About
                    </a>
                </div>
                <div class="col-lg-3 visible-lg">

                </div>
                <div class="col-md-3 hidden-sm  hidden-xs">

                </div>
                <div class="col-sm-1">
                    <a href="page-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="../widget/widget-list.view.client.html">
                        Contact Us
                    </a>
                </div>
                <div class="col-lg-3 visible-lg">

                </div>
                <div class="col-md-3 hidden-sm  hidden-xs">

                </div>
                <div class="col-sm-1">
                    <a href="page-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid float-right">
        <a class="navbar-brand" href="../user/templates/profile.view.client.html">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </a>
    </div>
</nav>
</body>
</html>












