<nav class="navbar navbar-default navbar-fixed-top">
    <p class="navbar-text pull-left">
        <a href="#!/user/{{model.userId}}/website" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left backSign"></span>
        </a>
    </p>

    <p class="white">Website</p>

    <p class="navbar-text pull-right">
        <a href="#!/user/{{model.userId}}/website" class="navbar-link">
            <span class="glyphicon glyphicon-ok ok"></span>
        </a>
    </p>
</nav>

<div class="col-sm-4 line hidden-xs">
    <nav class="navbar navbar-default navbar-fixed-top left">
        <p class="white">Website</p>
        <a href="#!/user/{{model.userId}}/website" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left backSign backSign down"></span>
        </a>
        <p class="navbar-text pull-right fixed-left">
            <a href="#!/user/{{model.userId}}/website/new" class="navbar-link">
                <span class="glyphicon glyphicon-plus plus"></span>
            </a>
        </p>
    </nav>

    <div class="container-fluid">
        <li ng-repeat="website in model.websites" class="list-group-item fixed-left">
            <div class="row">
                <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                    {{website.name}}
                </a>
                <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </li>
    </div>
</div>

<div class="col-sm-7 fixed">
    <div class="hidden-xs">
        <nav class="navbar navbar-default navbar-fixed-top right">
            <p class="white">Edit Website</p>
        </nav>
    </div>

    <form class="fixed-right-page-distance">
        <div>
            <label for="name">Name</label>
            <input type="text"
                   ng-model="model.website.name"
                   class="form-control"
                   id="name"
                   placeholder="Name">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control large-input"
                      ng-model="model.website.description"
                      placeholder="Description"
                      id="description">Description</textarea>
        </div>
    </form>

    <a class="btn btn-primary  btn-block"
       ng-click="model.updateWebsite()">Update</a>
    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWebsite()">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <p class="navbar-text pull-right">
        <a href="#!/user/{{model.userId}}"
           class="navbar-link">
            <span class="glyphicon glyphicon-user head"></span>
        </a>
    </p>
</nav>