<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/styles.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-11">
                <a class="navbar-brand" href="widget-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span>Widget Image Editor</span>
                </a>
            </div>
            <div class="col-xs-1 nav-bar-plus">
                <a href="widget-list.view.client.html">
                    <span class="glyphicon glyphicon-plus pull-right span-plus" aria-hidden="true"></span>

                </a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">

    <label for="name">Name</label>
    <input id="name"
           class="form-control" type="text" placeholder="name"/>

    <label for="text">Text</label>
    <input id="text"
           class="form-control" type="text" placeholder="text"/>

    <label for="url">URL</label>
    <input id="url"
           class="form-control" placeholder="image url" type="text"/>

    <label for="width">Width</label>
    <input id="width"
           class="form-control" placeholder="100%" type="text"/>

    <label for="file">File Upload</label>
    <input id="file"
           multiple
           type="file"
           class="form-control"/>

    <select class="form-control">
        <option value="1">1 (XL Large)</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6 (smallest)</option>
    </select>

    <a class="btn btn-danger btn-block" href="widget-list.view.client.html">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid float-right">
        <a class="navbar-brand" href="../user/templates/profile.view.client.html">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </a>
    </div>
</nav>
</body>
</html>